#myCarousel {
    width: 100%;
    float: left;
    height: 296px;
    .carousel-inner {
        .item {
            height: 254px;
            width: 900px;
            overflow: hidden;
            img {
                margin: auto;
            }
        }
    }
}