@media screen and (min-width: 480px) {
    body {
        .product-header {
            h4 {
                text-transform: uppercase;
            }
        }
        .product-media {
            float: left;
            width: 30%;
            height: 300px;
            img {
                width: 100%;
                height: 300px;
            }
        }
        .product-short-detail {
            float: left;
            width: 70%;
            height: 300px;
            padding-left: 1em;
            margin-bottom: 30px;
        }
        .product-description {
            width: 100%;
        }
    }
}