.scroll-to-top-btn {
    z-index: 999;
    display: inline-block;
    padding: 0;
    border: 0;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(#000, .05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba($scroll-to-top-btn-link, .8) url(/assets/img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    &.is-visible,
    &.fade-out,
    .no-touch &:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    &.is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }
    &.fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }
    .no-touch &:hover {
        background-color: rgba($scroll-to-top-btn-link, 1);
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .scroll-to-top-btn {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}